<div class="hero_area">
  <div class="bg-box">
    <img src="../assets/images/hero-bg.jpg" alt="" />
  </div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
          <span> Parrilla de Campo </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#chef">Chefs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacto">Contacto</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="#reserva" class="order_online"> Haz tu reserva! </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-lg-6">
                <div class="detail-box">
                  <h1>¿Quienes Somos?</h1>
                  <p>
                    <strong>Parrilla de Campo</strong> es más que un lugar para
                    disfrutar de las mejores parrilladas en Quito; es el
                    resultado de la pasión compartida por la cocina y la buena
                    compañía. Desde 2003, nos dedicamos a crear experiencias
                    gastronómicas únicas. Con chefs apasionados y una dedicación
                    inquebrantable a los sabores locales, te invitamos a
                    descubrir la esencia de la parrilla en cada bocado. En
                    Parrilla de Campo, la tradición se encuentra con la
                    innovación para ofrecerte un festín de sabores auténticos.
                    ¡Bienvenido a nuestra historia culinaria!
                  </p>

                  <div class="btn-box">
                    <a href="#reserva" class="btn1"> Reserva Ahora! </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-lg-6">
                <div class="detail-box">
                  <h1>Tu comida en manos de los mejores chefs</h1>
                  <p>
                    Nuestros chefs, apasionados por la parrilla, son la clave de
                    nuestras deliciosas creaciones. Seleccionados por su
                    talento, garantizan una experiencia gastronómica única. Con
                    años de experiencia, fusionan sabores para ofrecerte platos
                    inolvidables. Descubre la maestría de nuestros chefs en cada
                    parrillada. ¡Bienvenido a un mundo de exquisitez culinaria!
                  </p>
                  <div class="btn-box">
                    <a href="#chefs" class="btn1"> Conoce a nuestros Chefs </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-lg-6">
                <div class="detail-box">
                  <h1>¡Las mejores parrilladas de la ciudad!</h1>
                  <p>
                    Descubre una experiencia única en gastronomía con nuestras
                    exquisitas parrilladas, preparadas por chefs de alta calidad
                    que garantizan un deleite para tu paladar. En nuestro
                    establecimiento, disfrutarás de los mejores precios y
                    atractivas promociones. ¡Te invitamos a vivir momentos
                    inolvidables con nosotros!
                  </p>
                  <div class="btn-box">
                    <a href="#menu" class="btn1"> Revisa nuestro Menú </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- offer section -->

<section id="promos" class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="../assets/images/bife-ancho.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Martes de Bife:</h5>
              <h6><span>30%</span> Off</h6>
              <a href="#reserva"> Reserva ya! </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="../assets/images/tomahawk.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Viernes de Tomah</h5>
              <h6><span>15%</span> Off</h6>
              <a href="#reserva"> No te lo pierdas! </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end offer section -->

<!-- food section -->

<section id="menu" class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Nuestro Menú</h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">Todos</li>
      <li data-filter=".burger">Cortes Especiales</li>
      <li data-filter=".pizza">Parrilladas</li>
      <li data-filter=".pasta">Acompañantes</li>
      <li data-filter=".fries">Bebidas</li>
    </ul>

    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/bife.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Bife Ancho Prime</h5>
                <p>
                  Jugoso y tierno bife ancho prime, madurado para realzar su
                  sabor, acompañado de papas gratinadas.
                </p>
                <div class="options">
                  <h6>$16.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/tomahawk.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Tomahawk de Res</h5>
                <p>
                  Tomahawk de res con hueso largo, asado a la perfección con una
                  costra de hierbas aromáticas, presentado con puré de batata.
                </p>
                <div class="options">
                  <h6>$18.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/costillas.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Costillas de Cordero</h5>
                <p>
                  Costillas de cordero marinadas asadas lentamente a la parrilla
                  y acompañadas de una salsa de menta fresca.
                </p>
                <div class="options">
                  <h6>$17.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/parrillada_campo.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Parrilla de Campo</h5>
                <p>
                  ¡Descubre la autenticidad de nuestra parrillada "Parrilla de
                  Campo"! Este festín incluye exquisitos cortes como el suave
                  Lomo Fino, el jugoso Bife y la sabrosa Chuleta. Acompañados
                  por tiernos trozos de Pollo y la autenticidad de los
                  Chinchulines.
                </p>
                <div class="options">
                  <h6>$29.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all fries">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/parrillada_especial.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Parrillada Especial</h5>
                <p>
                  ¡Deléitate con nuestra Parrillada Simple en Parrilla de Campo!
                  Saborea el Bife y la Chuleta, ambos jugosos y llenos de sabor.
                  Acompañados por tiernos trozos de Pollo, chorizos y morcillas
                  con un toque ahumado. Completa la experiencia con la textura
                  crujiente de los Chinchulines.
                </p>
                <div class="options">
                  <h6>$19.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/pan_ajo.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Pan de Ajo</h5>
                <p>
                  Nuestra porción de pan de ajo en Parrilla de Campo es un
                  placer irresistible: pan recién horneado con ajo fresco,
                  mantequilla y hierbas aromáticas. ¡Sabor auténtico en cada
                  bocado!
                </p>
                <div class="options">
                  <h6>$2.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/papas_gratinadas.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Papas Gratinadas</h5>
                <p>
                  Disfruta de nuestras papas gratinadas en Parrilla de Campo.
                  Capas tiernas de papas bañadas en una cremosa mezcla de queso
                  gratinado, creando un acompañamiento indulgente y lleno de
                  sabor. ¡Una deliciosa experiencia en cada cucharada!
                </p>
                <div class="options">
                  <h6>$2.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/casillero_diablo.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Casillero del Vino</h5>
                <p>
                  Celebra tu experiencia en Parrilla de Campo con el emblemático
                  Casillero del Diablo. Este vino chileno cautiva con sus ricos
                  matices y cuerpo equilibrado, realzando los sabores de la
                  parrillada. ¡Un maridaje perfecto para una experiencia
                  gastronómica excepcional!
                </p>
                <div class="options">
                  <h6>$24.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../assets/images/cerveza_artesanal.png" alt="" />
              </div>
              <div class="detail-box">
                <h5>Cerveza Artesanal</h5>
                <p>
                  Descubre la perfecta armonía entre nuestra cerveza artesanal y
                  la parrillada en Parrilla de Campo. Con sabores ricos y
                  matices ahumados, cada sorbo realza la experiencia de cada
                  bocado carnívoro. ¡Una combinación extraordinaria!
                </p>
                <div class="options">
                  <h6>$4.99</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end food section -->

<!-- section -->

<section id="chef" class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="../assets/images/chef_mes.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Chef del Mes</h2>
          </div>
          <p>
            Nuestro Chef del Mes es un virtuoso de la parrilla, un artista que
            transforma cada corte de carne en una experiencia gastronómica
            inolvidable. Con años de experiencia a sus espaldas, ha
            perfeccionado el arte de sazonar, marinar y asar a la perfección,
            creando platos que despiertan los sentidos y conquistan los
            corazones de nuestros comensales. Su dedicación a la calidad se
            refleja en cada detalle, desde la selección meticulosa de los
            ingredientes hasta la atención cuidadosa a los tiempos de cocción.
            No solo es un experto en el manejo de las llamas, sino también un
            maestro en la creación de sabores que desatan una sinfonía en el
            paladar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- book section -->
<section id="reserva" class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Reserva una mesa</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="">
            <div>
              <input type="text" class="form-control" placeholder="Nombre" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Número de telefono" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="E-mail" />
            </div>
            <div>
              <select class="form-control nice-select wide">
                <option value="" disabled selected>Cuántas personas?</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
            </div>
            <div>
              <input type="date" class="form-control" />
            </div>
            <div class="btn_box">
              <button>Reserva ya!</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <!-- <div id="googleMap"> -->
          <img src="../assets/images/restaurante.jpg" alt="" />
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<!-- footer section -->
<footer id="contacto" class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>Contactanos</h4>
          <div class="contact_link_box">
            <a href="https://maps.app.goo.gl/qA2wCTJtRdNG8CuV9">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Ubicación </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Celular +593 99 989 3860 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> parrilladecampo&#64;gmail.com </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo"> Acerca de Nosotros</a>
          <p>
            En Parrilla de Campo, celebramos la esencia de la parrillada con
            autenticidad y calidad. Nuestra dedicación a los sabores
            excepcionales, cortes de primera y hospitalidad única define la
            experiencia en cada visita. ¡Bienvenido a nuestro hogar culinario!
          </p>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>Horario de Atención</h4>
        <p>Lunes a Viernes</p>
        <p>10.00 Am -10.00 Pm</p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> Todos los derechos reservados por:
        <a href="https://html.design/">Parrilla de Campo</a><br /><br />
        &copy; <span id="displayYear"></span> Distribuido por:
        <a href="https://themewagon.com/" target="_blank">APE</a>
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->